html {
	background-color: #14213d;
}
body {
	color: white;
	font-family: "Commissioner", sans-serif;
	font-size: 20px;
	margin-left: 3rem;
}
#title {
	text-align: center;
}
h2 {
	margin-left: 1rem;
	margin-top: 3rem;
}
img {
	height: 250px;
	margin-left: 1rem;
	margin-top: 0.5rem;
}
li.tochka {
	margin-top: 2rem;
}
li {
	margin-top: 0.35rem;
}
#image22 {
	height: 100px;
	width: 333px;
	margin-left: 1rem;
	margin-top: 0.5rem;
}
